@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zain:wght@200;300;400;700;800;900&display=swap');
@keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } 





  

body{
    animation: wave 25s ease-in-out infinite;
    background: linear-gradient(300deg, #454646, #818181, #3f3f3f, #000000, #646464, #646464, #646464);
    background-size: 300% 300%;
    height: 100%;
  }

video{
  width: 60%;
  height: 60%;
  margin: auto;
}


#return{
  color:#000000;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px;
  padding: 5px;
}

.textAlign{
  text-align: center;
}


.textAlign a{
  font-size: x-large;
}


.header{
    animation: wave 25s ease-in-out infinite;
    align-self: flex-start;
    background: linear-gradient(300deg, #a1a1a1, #d1d1d186, #282829, #abacab);
    background-size: 200% 200%;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 1000px;
    border: 8px double rgba(48, 48, 48, 0.425);
}

.header p{
  margin-right: 81%;
  color: white;
  margin-left: 2vw;
}

.header img{
  margin-left: -200%;
  filter: invert();
}

.containerBox{
  width: 75%;
  height: 33%;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 130px;
}

.containerBoxNone{
  width: 75%;
  height: 33%;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.containerBox2{
  width: 75%;
  height: 33%;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.containerBox2 li{
  font-family: "Zain", sans-serif;
  font-size: x-large;
  color: white;
}

.containerBox2 a{
  color: blue;
}

.containerBox3{
  width: 75%;
  height: .6%;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



.containerBox3 button{
  background-color: #000000;
  font-family: "Zain", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 5px;
  cursor: pointer;
  border: 3px solid black;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px black;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.containerBox3 button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.containerBox4{
  background-color: rgba(74, 104, 105, 0.61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 90%;
}






.infoBox{
  width: 12%;
  height: 150px;
  background-color: rgba(32, 32, 32, 0.603);
  margin: 90px;
  border: 8px double rgb(112, 112, 112);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 80px 20px;
  text-align: center;
}

.containerBox p{
  text-align: center;
}

.containerBox img{
  filter: invert(1);
}

#youtube{
  color: rgb(244, 112, 218);
}

.infoBox:hover{
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.514);
  transition: box-shadow .15s ease-in-out;
  transform: scale(1.30);
  transition: transform .15s ease-in-out;
  z-index: 1;
}


.infoBox:not(:hover){
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.171);
  transition: box-shadow .5s ease-in-out;    
  transform: scale(1.01);
  transition: transform .5s ease-in-out;
  z-index: 0;
}

p{
  font-family: "Zain", sans-serif;
  font-size: x-large;
  color: white;
}

a{
  color: white;
  text-decoration: none;
  font-family: "Zain", sans-serif;
  font-size: large;
}
a:hover{
  text-decoration: underline;
}

.containerBox2 h1{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* css for blog list */


.list a:hover{
  color: #000000;
}

.list a{
  color: white;
}

.list {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #d8004c;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: #111;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b1013e;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}
