@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zain:wght@200;300;400;700;800;900&display=swap');
@keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } 

body{
    animation: wave 25s ease-in-out infinite;
    background: linear-gradient(300deg, #454646, #818181, #3f3f3f, #3f3f3f, #646464, #646464, #646464);
    background-size: 300% 300%;
    height: 100%;
    
  }

.header{
    animation: wave 25s ease-in-out infinite;
    align-self: flex-start;
    background: linear-gradient(300deg, #a1a1a1, #d1d1d186, #656577, #abacab);
    background-size: 200% 200%;
    width: 1880px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 100px;
    border: 8px double black;
}

.header p{
  margin-right: 1500px;
  color: white;
}

.containerBox{
  width: 1400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
}

.infoBox{
  width: 150px;
  height: 150px;
  background-color: rgba(32, 32, 32, 0.603);
  margin: 90px;
  border: 8px double black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 80px 20px;
}

img{
  filter: invert(1);
}

.infoBox:hover{
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.514);
  transition: box-shadow .15s ease-in-out;
  transform: scale(1.30);
  transition: transform .15s ease-in-out;
  z-index: 1;
}


.infoBox:not(:hover){
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.171);
  transition: box-shadow .5s ease-in-out;    
  transform: scale(1.00);
  transition: transform .5s ease-in-out;
  z-index: 0;
}

p{
  font-family: "Zain", sans-serif;
  font-size: x-large;
}

a{
  color: white;
  text-decoration: none;
  font-family: "Zain", sans-serif;
  font-size: large;
}
a:hover{
  text-decoration: underline;
}



