header{
	background-color: black;
	width: 100%;
	height: 55px;
	text-align: center;
	align-items: center;
	position: sticky;
	top: 0;


}

body{
	margin: 0;
	padding: 0;
	background-image: url(../images/backgorund.png);
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.headerjr{
	text-align: center;
	color: #c35427;
	font-size: 40px;
	font-weight: bold;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgba(0, 0, 0, 0.685);
	padding-top: 55px;
	padding-bottom: 15px;
	height:90px;
	margin: 0;

}

.bar{
	background-color: #c35427;
	width: auto;
	height: 8px;
}

.main{
	width: auto;
	height: 400px;
	background-color: rgba(44, 21, 65, 0.253);
	display: flex;
	justify-content: center;

}

.main2{
	width: 60%;
	padding-left: 20%;
	padding-right: 20%;
	height: 1500px;

	margin: auto;
	background-color: rgba(44, 21, 65, 0.253);
	justify-content: center;
	text-align: center;
	padding-top: 20px;

}

.main div{
	background-color: rgba(255, 255, 255, 0);
	font-size:30px;
	margin:80px;
	padding: 20px;
	height: 192px;
	width: 192px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color:white;

}

.label {
	white-space: nowrap;
	margin-left: -65px;
}

h1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-weight: bold;

}

h2{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-weight: bold;

}

p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-size: 20px;
}

.underline{
	text-decoration: underline;
}